/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
}

/* Estilos para el encabezado */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF; /* Color de fondo del encabezado */
    color: white;
}

/* Estilos para el título principal */
h1 {
    font-size: 36px;
    margin: 10px 0;
}

/* Estilos para el subtítulo */
p {
    font-size: 18px;
    margin: 0;
}

/* Estilos para la imagen de perfil */
img {
    max-width: 200px;
    border-radius: 50%; /* Para hacer la imagen redonda si lo deseas */
}

/* Estilos para las secciones */
section {
    background-color: #fff; /* Color de fondo de las secciones */
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para los títulos de sección */
h2 {
    font-size: 24px;
    margin: 10px 0;
}

/* Estilos para las listas de habilidades y experiencia */
ul {
    list-style: disc;
    padding-left: 20px;
}

/* Estilos para el video */
iframe {
   align-items: center;
   border: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #007BFF; /* Color de fondo del pie de página */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilos para los enlaces del pie de página */
footer a {
    text-decoration: none;
    color: white; /* Color del texto de los enlaces del pie de página */
    margin: 0 10px;
}

/* Cambiar el color de fondo del enlace al pasar el mouse sobre él en el pie de página */
footer a:hover {
    text-decoration: underline;
}
