/* Estilos para la cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cambia el color de fondo según tu preferencia */
}

/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #48cbff;
    border-radius: 5px;
  }
  
  /* Barra de scroll activa */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #48cbff;
  }
  
  /* Barra de scroll inactiva */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Barra de scroll inactiva activa */
  ::-webkit-scrollbar-track:hover {
    background-color: #ccc;
  }


/* Estilos para el encabezado */
header {
    background-color: #007BFF; /* Color de fondo del encabezado */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para el título */
h1 {
    font-size: 45px;
    text-align: center;
}

/* Estilos para las secciones de proyectos */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* Color de fondo de las secciones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    overflow: auto; /* Agregamos overflow auto para hacer que las imágenes salgan del lado si caben de ancho en la pantalla */
}

#sub{
    background-color: #007BFF;
    color: white;
}

/* Estilos para los títulos de sección */
h2 {
    font-size: 35px;
    text-align: center;
}

/* Estilos para la lista de proyectos */
ul.project-list {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista de proyectos */
ul.project-list li {
    margin-bottom: 10px;
}

/* Estilos para secciones con una sola imagen */
section.single-image img {
    max-width: 40%; /* Tamaño máximo de la imagen */
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos para secciones con dos imágenes */
section.two-images img {
    max-width: 30%; /* Tamaño máximo de la imagen */
    display: inline-block;
    margin: 1% 1%; /* Espacio horizontal entre las imágenes */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


section.two-images img:hover , section.single-image img:hover {
    transform: scale(1.05);
}

/* Estilos para los títulos de reconocimiento */
ul.project-list h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los párrafos de proyectos */
ul.project-list p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace de más información del Proyecto 1 */
a.more-info-link {
    text-align: center;
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

a.more-info-link:hover {
    background-color: #0056b3;
    align-items: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #007BFF; /* Color de fondo del pie de página */
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

/* Estilos para los enlaces del pie de página */
footer a {
    text-decoration: none;
    color: white; /* Color del texto de los enlaces del pie de página */
    margin: 0 10px;
}

/* Cambiar el color de fondo del enlace al pasar el mouse sobre él en el pie de página */
footer a:hover {
    text-decoration: underline;
}

footer img:hover{
    transform: scale(1.2);
    margin: auto;
    padding: auto;
}
